# Modelo de variáveis de ambiente para o DevContainer / Docker Compose
# Copie este arquivo como .env dentro da pasta .devcontainer se necessário
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=comissai_db
POSTGRES_EXTERNAL_PORT=5433
